@charset "utf-8";
.texto {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #FFF;
	font-size: 16px;
	text-align: justify;
	padding: 0px;
	vertical-align: top;
	margin: 0px;
}
